@import './Globl/variables.scss';
@import '../'

.About{
    .bgRectangle{
        width:calc(#{$rastangle_size} * 6.2);
        height: calc(#{$rastangle_size}  * 6.2);
        background-image: url(../assets/images/About.png);
    
    }
}
