@import './Globl/variables.scss';
@import './Globl/mixin';

.About{
    .bgRectangle{
        width:calc(#{$rastangle_size} * 6.2);
        height: calc(#{$rastangle_size}  * 6.2);
        background-image: url(../assets/images/About.png);
        border-radius: 999px 32px 999px 999px;
    }
    .waveLine{
        
        t: 150px;
        left: 90px;
          width: calc(#{$rastangle_size} * 3.5);
          height:calc(#{$rastangle_size}*2.38);
          background-image: url(../assets/images/Line.png);
          background-repeat: repeat-y;
          background-position: center;
      }
}
