@import './Globl/variables.scss';
.coursesWrap{
    background-color: $color_bg_title;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;
}
.coursesTitle{
    font-family: SourceSansProBold;
    color:$text_footer ;
    font-weight: 700;
font-size: 44px;
line-height: 53px;
text-align: center;
}
.coursesHr{
    width: 150px;
    height: 2px;
    color: $color_btn;

}
.coursesText{
    font-weight: 400;
font-size: 22px;
line-height: 33px;
color:$text_footer ;
text-align: center;
padding: 50px 310px;
}