@import './Globl/variables.scss';
@import './Globl/mixin';
.coursesWrap{
    background-color: $color_bg;
    padding: 80px 82px;
   @include flexbox;
    justify-content: center;
    flex-direction: column;
   
}
.coursesTitle{
    font-family: SourceSansProBold;
    color:$text_footer ;
    font-weight: 700;
font-size: 44px;
line-height: 53px;

}
.coursesHr{
    margin: 0 auto; 
    width: 150px;
    background-color: $color_btn;
    border:2px solid  $color_btn;
    margin-top: 17px;

}
.coursesText{
    font-weight: 400;
font-size: 22px;
line-height: 33px;
color:$text_footer ;
text-align: center;
padding: 50px 400px;

}
.cartWrap{
    display: grid;
    align-items: baseline;
    grid-template-columns:repeat(3,1fr);
    gap:50px;  
   
    background-color: $color_bg;
    padding: 0 82px 140px;
    
}
.cart{
    &:hover{
        filter: drop-shadow(21px 21px 30px rgba(28, 28, 51, 0.4));
     }
    max-width: 393px;
   
    background-color: $color_white;
}
.cartImg{
   width: 100%;
    height: 197px;
}
.cartBody{
    padding: 22px 90px 25px 24px;
}
.cartText{
    font-weight: 400;
font-size: 24px;
line-height: 29px;

}
.cartAfter{
    padding: 8px 0 15px;
    font-weight: 400;
font-size: 17px;
line-height: 27px;
color: $color_text;

}
.PriceWrap{
    display: flex;
    column-gap: 8px;
    padding: 8px 0 15px ;
}
.Price{
    font-weight: 400;
font-size: 22px;


}
.oldPrice{
    color: #B2B2BF;
}
.cartLink{
    font-weight: 400;
font-size: 16px;
line-height: 21px;
color: #57D9A6;
text-decoration: none;
}
.contactUs{
    @include flexbox;
    justify-content: center;
    background-color: $color_bg;
}
.contactLeftWrap{
    width: 70%;
}
.contactRightWrap{
    padding: 0 80px;
    @include flexbox;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
   
    row-gap: 50px;
}
.contactHr{
    width: 150px;
    background-color: $color_btn;
    border: 2px solid $color_btn;
    margin-top: 16px;
}
.contactImg{
    width: 100%;
}
