@import './Globl/variables.scss';
@import './Globl/mixin';
.footerWrap{
    background-color: $color_bg_title;
padding: 145px 82px;
.navItem{
    padding: 16px 0;

}

}
.footerLogo{
    margin-bottom: 90px;
}
.flexWrap{
@include flexbox;
align-items: flex-start;
justify-content:flex-start;
column-gap: 140px;
r
color: $text_footer;
}


.navTitle{
    font-weight: 400;
font-size: 16px;
line-height: 21px;
color: $text_footer;
letter-spacing: 1px;
text-transform: uppercase;
margin-bottom: 15px;

}
.followWrap{
    @include flexbox;
    column-gap: 16px;
}
.follow{
    cursor: pointer;
    padding: 12px 15px;
    background-color: $color_white;
    border-radius: 50%;
    color: $color_bg_title;
    font-size: 20px;
    &:hover{
        
      background-color: $color_btn;
    }
}
.footerBottom{
    padding: 16px 82px;
    background-color: #23233B;
    @include flexbox;
    column-gap: 40px;
    .text{
        font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #B2B2BF;
    }
}