@import './Globl/variables.scss';
.topDiscount{
    background-color:$color_btn;
    font-weight: 400;
font-size: 18px;
text-align: center;
padding: 8px 0;
font-family: SourceSansProRegular;
}
.navbarNav{
    display: flex;
    align-items: center;
    row-gap: 40px;
}
.navItem{
    font-weight: 400;
font-size: 17px;
color: $;
}