@import './Globl/variables.scss';
@import './Globl/mixin';
.row{
    padding: 120px 0;
 @include flexbox;
 background-color: $color_bg_title;
}
.col5{
    width: 40%;
    outline: 1px solid red;
}
.Course{
   width: 150px;
   padding: 7px 0;
    font-weight: 400;
font-size: 16px;
letter-spacing: 1px;
text-transform: uppercase;
color: $text_footer;
border-bottom: 2px solid $color_btn;
}
.cartTitle{
    font-family: SourceSansProBold;
    font-weight: 700;
font-size: 55px;
line-height: 60px;
}
