@import './Globl/variables.scss';


.RightModal{
    position: fixed;
    right: -100%;
    z-index: 999;
    top: 0;  
    height: 100%;
  background:$color_bg;
  text-align: end;
 min-width: 230px;
  transition: all 0.3s ease-in;
  box-shadow: -3px 5px 13px 5px $color_btn;   
  border-left: 5px solid rgb(10, 159, 124);
}

.navbarModal{
    display: flex;
flex-direction: column;


}
.nav-link{
    color: $color_white;
    padding: 20px 100px
}
.modalIcon{
    color: $color_white;
    font-size: 40px;
    margin: 40px;
    &:hover{
        color: red;
    }
}
.modalOpen{
    right: 0;
    
}

