@import './Globl/variables.scss';


.RightModal{
    position: fixed;
    right: 100%;
    z-index: 999;
    top: 0;  
    height: 100%;
  background:$color_bg;
  text-align: end;
 min width: 300px;
  transition: all 0.3s ease-in;
}

.navbarModal{
    display: flex;
flex-direction: column;
    li{
        margin-bottom: 10px;
    }
.nav-link{
        color: $color_white;
        padding: 20px 100px
    }
}
.modalOpen{
    right: 0;
    
}

