@import '../Globl/variables.scss';
@mixin flexbox {
    display: flex;
    align-items: center;
}
@mixin Rectangle($radius,$namber) {
 margin-left: auto;
 po
   top: 0;
   right: 0;
    max-width:  calc(#{$rastangle_size}  *#{$namber});
    height:  calc(#{$rastangle_size}  * #{$namber});
     border-radius: 50%;
     border-top-right-radius: $radius;
     background-color: $color_btn;
}