@mixin flexbox {
    display: flex;
    align-items: center;
}
@mixin Rectangle($radius,$namber) {
    position: absolute;
    max-width: calc(#{$rastangle_size} * );
    height:$rastangle_size;
    background-image: url(../assets/images/Line.png);
    background-repeat: repeat-y;
    background-position: center;
}