@mixin flexbox {
    display: flex;
    align-items: center;
}
@mixin Rectangle($radius,$namber) {
    position: absolute;
    max-width: calc(#{$rastangle_size} * $namber);
    height:$rastangle_size;
    max-width:  calc(#{$rastangle_size}  /3);
    height:  calc(#{$rastangle_size}  /3);
     border-radius: 50%;
     border-top-right-radius: 6px;
     background-color: $color_btn;
}