
  
@font-face {
    font-family: SourceSansProRegular;

    src:  url('../../assets/fontFamily/SourceSansPro-Regular.ttf');
  }
  @font-face {
    font-family: SourceSansProRegular;

    src:  url('../../assets/fontFamily/');
  }
  @font-face {
    font-family: SourceSansProRegular;

    src:  url('../../assets/fontFamily/SourceSansPro-Regular.ttf');
  }
