@import "./variables.scss";

@media screen and (max-width: 1300px) {
  :root {
    --rastangle_sizeRoot: 70px;
  }
}

@media screen and (max-width: 1024px) {
    .cartWrap{
   
        grid-template-columns:repeat(2,1fr);
          
        
    }
    .contactUs{
        display: block;
    }
    .contactLeftWrap{
        width: 70%;
        ma
    }
  :root {
    --rastangle_sizeRoot: 50px;
  }
  .row{
    padding-top: 200px;
  }
  .col5 {
    width: 60%;
  }
}
@media (max-width: 884px) {
  :root {
    --rastangle_sizeRoot: 30px;
  }
  .navbarNav {
    display: none;
  }
  .col5{
    width: 90%;
  }
  .col7 {
    display: none;
  }
  .Menu {
    display: block;
  }
}
