@import './variables.scss';



@media screen and (max-width:1024px){
    :root {
     
        --rastangle_sizeRoot:50px;
        
    }
    .col5{
        width: 40%;
    }
    .Rectangle3{
       
        right: 0px;
        bottom: 20px; 
    }
  
}
@media (max-width:884px) {
    .navbarNav{
        display: none;
     
    }  
    .Menu{
        display: block;
    }

}
