@import './variables.scss';



@media screen and (max-width:1024px){
    :root {
     
        --rastangle_sizeRoot:50px;
        
    }
    .col5{
        width: 60%;
    }
  
}
@media (max-width:884px) {
    .navbarNav{
        display: none;
     
    }  
    .Menu{
        display: block;
    }
    .col7{
        di
    }

}
