@import "./variables.scss";


@media screen and (max-width: 1024px) {
    .Rectangle1{
        left: 100px;
        top: -20px;
    }

    .cartWrap{
   
        grid-template-columns:repeat(2,auto);
          
          
   justify-content: center;
    }
    .contactUs{
    padding-bottom: 10px    ;
    }
    .contactRightWrap{
        width: 60%;
    }
    .contactImg{
        width: 100%;
        
        margin: 0 auto;
    }
  
  .row{
    padding-top: 200px;
  }
  .col5 {
    width: 60%;
  }
 .contactLeftWrap{
   height: 200px;
  
   .waveLine{
        
    top: 150px;
        left: 150px;
         
      }
    
 }
 .contactRightWrap{
    width: 80%;
  }
  .caruselWrapper{
    padding:$p_lr 0 50px  0;
  }
  .caruselText{
    padding:20px 0 ;
    font-size: 18px;
    line-height: 25px;
  }
}



@media (max-width: 884px) {
  :root{
    --p:0vw;
  }
 
  .navbarNav {
    display: none;
  }
  .col5{
    width: 90%;
  }
  .col7 {
    display: none;
  }
  .Menu {
    display: block;
  }

  .linkWrap{
    display: block;
  }
  .thriLine{
    margin-top: 70px;
  }
  .contactLeftWrap{
    display: none;
  }
  .contactRightWrap{
    width: 100%;
  }
  .About{
    padding: 20px $p_lr;
  }
  .coursesText{
    padding: 50px 1vw;
  }
  .emailWrap{
    padding: 78px 10px;
    margin: 0;
  }
  .emailTitle{
    font-size: 18px;
  }
  .form{
  flex-direction: column;
  }
  .cartWrap{
  
   justify-content: center;
  
    grid-template-columns:repeat(1,auto);
      
    
}
}

@media (max-width: 414px) {
  .topDiscount{
    font-size: 13px;
  }
.homeTitle{
  font-size: 40px;
}
.coursesTitle{
  font-size: 20px;
}
.footerBottom{
  padding: 16px 10px;
  
  justify-content: space-between;
}

}
