$color_btn:#57D9A6;
$color_body:#F5F5F5;
$color_bg_title:#1C1C33;
$color_bg: #23233B;
$text_footer: #F6F6F8;
$color_text:#4E4E65;
$color_white:#FFFFFF;
$color_cartBg:#FC5468;
$rastangle_size:100px;  

$p_lr:82px;
:root {

    --rastangle_sizeRoot:#{$rastangle_size};  
}

@media screen and (max-width:884px) {
    :root {
     
        --rastangle_sizeRoot:50;
        ;
    }

}
@media screen and (min-width:100px) and (max-width:1300px) {
    :root {
     
        --rastangle_sizeRoot:70px;
        ;
    }

}