$color_btn: #57d9a6;
$color_body: #f5f5f5;
$color_bg_title: #1c1c33;
$color_bg: #23233b;
$text_footer: #f6f6f8;
$color_text: #4e4e65;
$color_white: #ffffff;
$color_cartBg: #fc5468;
$rastangle_size: 100px;
$p_lr: 6vw;
:root {
  --rastangle_sizeRoot: #{$rastangle_size};
  --p: #{$p_lr};
}
@media screen and (max-width: 1300px) {
  :root {
    --rastangle_sizeRoot: 70px;
  }
  .Rectangle1{
    left: 200px;
    top: -20px;
}

}

@media screen and (max-width: 1024px) {
  :root {
    --rastangle_sizeRoot: 50px;
  }
}